.user {
    display: flex;
    padding: 9px 16px;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 1px var(--primary);
}

.user-info {
    padding-left: 15px;

    h4 {
        font-size: 1.6rem;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    span {
        color: rgb(32, 213, 236);
        font-size: 1.3rem;
        padding-left: 6px;
    }

    p {
        font-size: 1.4rem;
        color: rgba(22, 24, 35, 0.5);
        padding-top: 5px;
    }
}
