@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --primary: #eb4653;
    --bg-color: #f1f1f2;
    --text-color: #161823;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    min-height: 120vh;
}

input,
button,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

button,
a {
    cursor: pointer;
}

body .tippy-box {
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: #545454eb;
    color: var(--white);
    padding: 5px;

    .tippy-arrow:before {
        color: #545454eb;
        top: -8px !important;
    }
}

// scrollbar

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
