.wraper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 1px #e5e5e5;
}

.container {
    width: 1150px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// logo

.logo {
    width: 118px;
    height: 42px;
}

// search

.search {
    display: flex;
    width: 361px;
    height: 46px;
    border-radius: 92px;
    background-color: var(--bg-color);
    align-items: center;
    padding: 0 0 0 16px;
    object-fit: cover;
    overflow: hidden;
    border: 1.5px solid var(--bg-color);

    .input,
    .clear,
    .btn-search {
        border: none;
        background-color: transparent;
    }

    .input {
        font-size: 1.5rem;
        width: 252px;

        &:not(:placeholder-shown) ~ .btn-search {
            color: var(--text-color);
        }
    }

    .clear {
        flex: 1;
        opacity: 0;
    }

    .loading {
        display: none;
    }

    .btn-search {
        position: relative;
        font-size: 2rem;
        flex: 1;
        height: 100%;
        padding-right: 5px;
        color: #aaaaaf;

        &:hover {
            background-color: #e4e4e4;
        }

        &::before {
            content: '';
            position: absolute;
            height: 28px;
            width: 1px;
            border-left: 1px solid #dddddd;
            left: -1px;
            top: 8px;
        }

        &:active {
            background-color: var(--bg-color);
        }
    }

    &:focus-within {
        border-color: #dddddd;
    }
}

// actions

.contain-actions {
    .actions {
        list-style: none;
        display: flex;
        align-items: center;
        font-size: 2.2rem;

        li + li {
            margin-left: 22px;
        }
    }

    .user-avt {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        border: solid 1px var(--primary);
    }

    .img-avt {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
    }

    .upload,
    .message,
    .inbox,
    .user {
        cursor: pointer;
    }

    .upload {
    }

    .message {
    }

    .inbox {
    }

    .user {
    }
}

.primary-color {
    color: var(--primary);
}

// Wraper popper search result

.search-result {
    .search-history {
        display: flex;
        padding: 9px 16px;
        align-items: center;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    .icon {
        font-size: 1.3rem;
        padding-right: 10px;
    }

    .title {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .accounts {
        width: 353px;
        padding: 5px 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(22, 24, 35, 0.5);
    }

    .user {
        display: flex;
        padding: 9px 16px;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }

    .user-img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        border: solid 1px var(--primary);
    }

    .user-info {
        padding-left: 15px;

        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            display: flex;
            align-items: center;
        }

        span {
            color: rgb(32, 213, 236);
            font-size: 1.3rem;
            padding-left: 6px;
        }

        p {
            font-size: 1.4rem;
            color: rgba(22, 24, 35, 0.5);
            padding-top: 5px;
        }
    }
}

// setting User

.setting {
    width: 223px;
    padding-bottom: 8px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        border-bottom: 20px solid #000;
    }

    .section {
        display: flex;
        padding: 10px 16px;
        align-items: center;

        .icon {
            padding-right: 8px;
            font-size: 18px;
            width: 20px;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }

    .log-out {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
}
