// search

.search {
    position: relative;
    display: flex;
    width: 361px;
    height: 46px;
    border-radius: 92px;
    background-color: var(--bg-color);
    align-items: center;
    padding: 0 0 0 16px;
    object-fit: cover;
    overflow: hidden;
    border: 1.5px solid var(--bg-color);

    .input,
    .clear,
    .btn-search {
        border: none;
        background-color: transparent;
    }

    .input {
        font-size: 1.5rem;
        font-family: var(--font-family);
        width: 252px;

        &:not(:placeholder-shown) ~ .btn-search {
            color: var(--text-color);
        }
    }

    .clear {
        flex: 1;
        color: #dddddd;
    }

    .loading {
        position: absolute;
        top: 50%;
        right: 60px;
        color: #dddddd;
        animation: spiner 1s linear infinite;
    }

    @keyframes spiner {
        from {
            transform: translateY(-50%) rotate(0deg);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }

    .btn-search {
        position: relative;
        flex: 1;
        height: 100%;
        padding-right: 5px;
        color: #a7a7ab;

        &:hover {
            background-color: #e4e4e4;
        }

        &::before {
            content: '';
            position: absolute;
            height: 28px;
            width: 1px;
            border-left: 1px solid #dddddd;
            left: -1px;
            top: 8px;
        }

        &:active {
            background-color: var(--bg-color);
        }
    }

    &:focus-within {
        border-color: #dddddd;
    }
}

// Wraper popper search result

.search-result {
    .accounts {
        width: 353px;
        padding: 5px 12px;
        font-size: 1.4rem;
        font-weight: 500;
        color: rgba(22, 24, 35, 0.5);
    }
}
