.search-history {
    display: flex;
    padding: 9px 16px;
    align-items: center;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.icon {
    padding-right: 10px;
    height: 15px;
}

.title {
    font-size: 1.6rem;
    font-weight: 500;
}
